<div class="{{ styles.register }}">
    <div>Зарегистрироваться</div>
    {{{firstName}}}
    {{{secondName}}}
    {{{email}}}
    {{{login}}}
    {{{phone}}}
    {{{password}}}
    {{{button}}}
    {{{link}}}
</div>
